/*--------------------------------------------------------------------*/
/****************************	MASTER CSS	 **************************/
/*--------------------------------------------------------------------*/


/*--------------------------------------------------------------------*/
/*	GENERAL CSS	*/
/*--------------------------------------------------------------------*/
body { background: #fefefe;  }


/* Preloader for Single Pages */
#pre-loader-single { width: 100%; height: 100%; position:absolute;  background-color: #fff; z-index: 10999 !important; }
#pre-loader-single img {
	position: absolute;
	width: 24px;
	height: 24px;
	top: 50%;
	left: 50%;
	margin: -24px 0 0 -15px;
}
.load-loader { display: none; }


.logo { margin-top:30px;  }
.copyright { margin-bottom: 10px; float: left; width: 100%; }


/*	Main Navigation	*/
#mainNavigation select{ display:none;  width:100%; height:30px; float:left; margin:21px 0; padding:5px; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; } 
#mainNavigation select option{ padding:1px 0 1px 10px; }


/*	First half and last half screen icons	*/
i.fa.screen { font-size: 40px; position: absolute; top:50%; left: 50%;   }
i.fa.screen.dark { color: #333; margin:-20px 0 0 -20px; }
i.fa.screen.white { color: #fff; margin:-20px 0 0 0px; }


/* Margin top */
.bottom10 { margin-bottom: 10px !important; }
.bottom20 { margin-bottom: 20px !important; }
.bottom30 { margin-bottom: 30px !important; }
.bottom40 { margin-bottom: 40px !important; }
.bottom50 { margin-bottom: 50px !important; }
.bottom60 { margin-bottom: 60px !important; }
.bottom70 { margin-bottom: 70px !important; }
.bottom80 { margin-bottom: 80px !important; }
.bottom90 { margin-bottom: 90px !important; }
.bottom100 { margin-bottom: 100px !important; }

/*	Margin bottom	*/
.top10 { margin-top: 10px !important; }
.top20 { margin-top: 20px !important; }
.top30 { margin-top: 30px !important; }
.top40 { margin-top: 40px !important; }
.top50 { margin-top: 50px !important; }
.top60 { margin-top: 60px !important; }
.top70 { margin-top: 70px !important; }
.top80 { margin-top: 80px !important; }
.top90 { margin-top: 90px !important; }
.top100 { margin-top: 100px !important; }

/*	Clear & center & colors */
.clear { clear: both !important; visibility: hidden !important; width: 0 !important; height: 0 !important; }
.center { text-align: center !important; }
.green { color:#88cc6a; }
.blue { color:#289dcc; }
.red { color:#bf1e2e; }




/*--------------------------------------------------------------------*/
/*	FIRST HALF SCREEN	*/
/*--------------------------------------------------------------------*/
.first-half { background-color: #fff;  width: 50%; float: left; text-align: center; position: relative;  }
.first-half:hover i.screen {  display: none; }
.first-half-content { width: 100%; height: auto; float: left; }
.first-half-content { visibility: hidden;  opacity: 0; }
.first-half:hover .first-half-content { visibility: visible; opacity: 1; }

/*	First half Social	*/
.first-half-social { font-size: 20px; margin-bottom: 20px; margin-top:30px; float: left; width: 100%; }
.first-half-social a { color:#555; }
.first-half-social a:hover i { -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg); -webkit-transform: rotate(360deg); }

/*	First half menu	*/
ul.main-menu { margin: 30px 0 80px 0; font-weight: bold; float: left; width: 100%;  }
ul.main-menu li { margin:0;  }
ul.main-menu li a { padding:15px 0; border-bottom:1px dotted #f0f0f0; width: 100%; width: 100%; float: left; }
ul.main-menu li:hover a { background-color: #fafafa; transition:0.4s; -moz-transition:0.4s; -webkit-transition:0.4s; -ms-transition:0.4s; }
ul.main-menu li:first-child { border-top:1px dotted #f0f0f0; }



/*--------------------------------------------------------------------*/
/*	LAST HALF SCREEN	*/
/*--------------------------------------------------------------------*/
.last-half { width: 50%; float: right; text-align: center; position: relative; background:#fff url(../images/worldmap.png) no-repeat center center !important; background-size: cover !important; -webkit-background-size: cover !important; -moz-background-size: cover !important; background-attachment: fixed !important; }
.last-half:hover .last-half-content { color:#fff !important; visibility: visible; opacity: 1; }
.last-half-content {  color:#fff !important; visibility: hidden;  opacity: 0; }
.last-half-shadow { z-index: 0; position: absolute; right: 0; width: 100%; height: 100%; background-color: black; opacity: 1; }
.last-half:hover .last-half-shadow { z-index: -1; opacity: 0.3; transition:0.4s linear; -moz-transition:0.4s linear; -webkit-transition:0.4s linear; -ms-transition:0.4s linear;  }
.last-half:hover i.screen { display: none; }

/*	Last half contact info	*/
.last-half .contact-info-holder { display: none; text-align: center;  width: 100%; height: 200px; top:20%; left: 0; }
.last-half .contact-info-holder li {  margin: 0; padding:8px 0;  }
.last-half .contact-info-holder i.fa { font-size: 25px; }
.last-half .contact-info-holder li.btnHolder { margin-top:30px !important; }
.last-half:hover .contact-info-holder { display: block; margin-top: 15%; }



/*--------------------------------------------------------------------*/
/*	PAGE ELEMENTS	*/
/*--------------------------------------------------------------------*/

/* Buttons */
.btn { border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border:none; cursor: pointer; transition:background-color 0.3s; }
.btn i.fa { margin:0 5px 0 0 !important; }

/* White */
.btn.btn-white { background-color: #fff; color:#444;  }
.btn.btn-white:hover { background-color: #dfdfdf; }

/* Green */
.btn.btn-green { background-color: #88cc6a; color:#fff;  }
.btn.btn-green:hover { background-color: #6b6b6b; }

/* Blue */
.btn.btn-blue { background-color: #289dcc; color:#fff;  }
.btn.btn-blue:hover { background-color: #6b6b6b; }

/* Red */
.btn.btn-skin { color:#fff;  }
.btn.btn-skin:hover { background-color: #6b6b6b; }

/* Dark */
.btn.btn-dark { background-color: #444; color:#fff;  }
.btn.btn-dark:hover { background-color: #6b6b6b; }


/* Sizes */
.btn-large { padding:10px 15px; font-size:14px; }  
.btn-medium { padding:6px 12px; font-size:13px; } 
.btn-small { padding:5px 8px; font-size:12px; } 
.btn-mini { padding:2px 4px; font-size:11px; } 


/*	Rotate Transition	*/
.rotate{ -moz-transition: all 0.30s ease-out;-ms-transition: all 0.30s ease-out; -o-transition: all 0.30s ease-out; -webkit-transition: all 0.30s ease-out; }



/*	Accordions	*/
.accordions { width: 100%;}
.accordions h2 { margin:0px !important; line-height: 33px !important;  padding: 0px !important; font-size: 12px; border-top: 1px solid #dfdfdf; cursor: pointer; }
.accordions .first-item, .accordions .active .first-item { border-top: none !important; }
.accordions h2 i.fa { margin-bottom: -5px; margin-right: 12px; color:#fff; background-color: #d1d1d1; padding:5px; border-radius: 2px; }
.accordions h2.active i.fa, .accordions h2.active  { background-color: #fff; }
.accordions p { line-height: 20px; margin:5px 0 10px 0 !important; }
.accordion-hide { display: none; }


/* 	Jquery UI General css  */	
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }  
.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; border-collapse: collapse; }
.ui-helper-clearfix:after { clear: both; }
.ui-helper-clearfix { min-height: 0;  }
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; }
.ui-front { z-index: 100; }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default  { border: 1px solid #e0e0e0; }
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; width:16px; height:16px;  }
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { 	border-top-left-radius: 2px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr  { border-top-right-radius: 2px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl  { border-bottom-left-radius: 2px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { border-bottom-right-radius: 2px; }


/*	Tabs  */
.ui-tabs { position: relative; }
.ui-tabs .ui-tabs-nav { margin: 0; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; background:#fafafa; top: 0; margin: 1px 2px 0 0; border-bottom-width: 0; padding: 0; white-space: nowrap; }
.ui-tabs .ui-tabs-nav li:hover { background:#fff; }
.ui-tabs .ui-tabs-nav li i.fa { margin-right: 2px; }
.ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 1em; text-decoration: none; color:#444; }
.ui-tabs .ui-tabs-nav li.ui-tabs-active { margin-bottom: -1px;  padding-bottom: 1px; background:#fff; }
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; border:1px solid #e0e0e0; padding: 1em 1.4em; background: none; }


/*	Dropcaps  */	
.dropcap-v1 p, .dropcap-v2 p, .dropcap-v3 p { text-align:justify; }
.dropcap-v1 p:first-letter, .dropcap-v2 p:first-letter, .dropcap-v3 p:first-letter { font-size:32px; line-height:32px; float:left;   }
.dropcap-v2 p:first-letter { border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; box-shadow:0 0 2px #e0e0e0; -webkit-box-shadow:0 0 2px #e0e0e0; -moz-box-shadow:0 0 2px #e0e0e0; margin-top:6px; }
.dropcap-v1 p:first-letter, .dropcap-v3 p:first-letter { padding-right:10px; }
.dropcap-v2 p:first-letter { padding:4px 10px; margin-right:10px;  color:#444; background:#fff; border:1px solid #e0e0e0; }


/*	Blocquote	*/	
blockquote.bq, blockquote.bq p { display:block; float:right; max-width:800px; font-size:12px;  line-height:20px; color:#777; font-style:italic; background:#fafafa; }
blockquote.bq p { margin-bottom:0; text-align:left; }
blockquote.bq { padding:15px 20px; } 
blockquote.bq cite { display:block; font-size:12px; color:#555; }
blockquote.bq cite:before { content: "\2014 \0020"; }
blockquote.bq cite a, blockquote.bq cite a:visited, blockquote.bq cite a:visited { color:#555; }


/*  Tables  */	
.table-v1, .table-v2, .table-v3 { width:100%; float:left;  }
.table-v1 tr td, .table-v2 tr td, .table-v3 tr td  { padding:10px 7px; }
.table-v1 tr:first-child, .table-v2 tr:first-child, .table-v3 tr:first-child{ font-weight:bold; font-size:11px;   }
.table-v2 tr, .table-v2 td, .table-v3 tr, .table-v3 td { border:1px solid #e0e0e0; border-radius:10px; }
.table-v1 tr { border-bottom:1px solid #e0e0e0; }
.table-v1 tr:last-child { border:none;  }
.table-v1 tr:nth-child(2n+2) { background:#fafafa; } 
.table-v3 td:nth-child(2n+2){ background:#fafafa; }




/*	Lists   */	
.fa-ul i.fa { font-size: 11px; margin-top: 2px; }





/*-----------------------------------------------------------------------------------------*/
/*	PAGE TOP & BOTTOM MENU		*/
/*-----------------------------------------------------------------------------------------*/
/*	Page top menu	*/
.page-top-menu { width: 100%; min-height: 35px; height: auto;  position: fixed; z-index: 405;  top:0;  text-align: center; background: #fff;  border-bottom: 1px solid #d9d9d9;  box-shadow: 0 0 4px #dfdfdf; transition:min-height 0.3s linear; }
.page-top-menu:hover { min-height: 45px; transition:min-height 0.2s linear; }
.page-top-menu:hover i.fa.menu { display: none; }
.page-top-menu i.fa.menu { font-size: 25px;  margin-top: 5px;  }
.page-top-menu ul.top-menu {  display: none; float: left; margin:0;  }
.page-top-menu ul.top-menu li { float: left; margin:0; border-left:1px dotted #f0f0f0; }
.page-top-menu ul.top-menu li:first-child { border-left: none; }
.page-top-menu ul.top-menu li a { padding:15px 8px 12px 8px; float: left; }
.page-top-menu ul.top-menu li a i.fa { margin-right: 3px; }
.page-top-menu ul.top-menu li:hover { background-color: #fefefe; transition:background-color 0.3s; }
.page-top-menu ul.top-menu li.current a { background-color: #fefefe; transition:background-color 0.3s; }
.page-top-menu ul.top-menu li.back-to-default a { padding:15px 20px 12px 20px; font-size: 15px; }
.page-top-menu ul.top-menu li.back-to-default a span { display: none; }


/* Page bottom menu */ 
.page-bottom-menu { width: 100%; color:#dfdfdf;  min-height: 45px; height: auto; background: #525252 url(../images/patterns/black_denim.png) repeat;  border-top: 1px dashed #d0d0d0; border-bottom: 1px solid #d9d9d9; box-shadow: 0 0 4px #dfdfdf; }
.page-bottom-menu .first-eight { text-align: left; padding-top: 13px; }
.page-bottom-menu .second-eight { text-align: right; padding-top: 13px; }
.page-bottom-menu .second-eight a { margin-left:5px; color:#dfdfdf; }
.page-bottom-menu .second-eight a:hover { color:#abaaaa;  }

/*	Page Holder	*/
.page-holder { background-color: transparent;  height: 700px; margin-bottom: 10px; margin:35px 0; }



/*-----------------------------------------------------------------------------------------*/
/*	REVOLUTION SLIDER		*/
/*-----------------------------------------------------------------------------------------*/
.tp-banner-container { width:100%; position:relative; padding:0; }
.tp-banner { width:100%; position:relative; }
.rev-slider-overlay { background:url(../images/overlay.png) repeat; z-index: 2; position: absolute; width: 100%; height: 100%;  }


/*-----------------------------------------------------------------------------------------*/
/*	PROMO TEXT		*/
/*-----------------------------------------------------------------------------------------*/
.top-promo-text { background:transparent; text-align: center !important; padding-top: 40px; }
.top-promo-text h1 { font-size: 21px; line-height: 24px; font-family: 'Rosario', sans-serif; }
.top-promo-text p { color:#828a93; font-size: 13px; padding:0 60px; font-weight: 200; }


/*-----------------------------------------------------------------------------------------*/
/*	FEATURED ITEMS	*/
/*-----------------------------------------------------------------------------------------*/
.featured-item { text-align: center; }
.featured-item h2 { font-size: 14px; line-height: 21px; font-weight: bold; margin-top: 20px;  }
.featured-item p { margin-bottom:0; margin-top:20px; }
.featured-item .ficon-holder { width:80px; height:80px; margin-left: 70px; display:table; text-align: center; border:2px dashed #666; border-radius:100%; }
.featured-item i.fa { font-size: 40px; display: table-cell; vertical-align: middle; }
.featured-item:hover, .featured-item:hover h2 { transition:color 0.5s; }
.featured-item:hover p{ color:#6b6b6b;  }


/*	Green	*/ 
.featured-item.green h2 { color:#88cc6a; }
.featured-item.green i.fa { color:#88cc6a; }
.featured-item.green .ficon-holder { border:2px dashed #88cc6a; }
.featured-item.green p{ color:#6b6b6b;  }

/*	Blue	*/ 
.featured-item.blue h2 { color:#289dcc; }
.featured-item.blue i.fa { color:#289dcc; }
.featured-item.blue .ficon-holder { border:2px dashed #289dcc; }
.featured-item.blue p{ color:#6b6b6b;  }




/*-----------------------------------------------------------------------------------------*/
/*	MAIN TITLE  */
/*-----------------------------------------------------------------------------------------*/
.main-title h2{ font-size: 14px; line-height: 21px; font-weight: bold; text-align: center; }
.separator-holder { height: 10px; float: left; width: 100%; position: relative; margin-bottom: 25px; }
.separator-holder hr { margin-top: 4px; }
.separator-holder i.fa { position: absolute; left: 49%; top:-5px; font-size: 15px; background-color: #fefefe;  padding:2px 6px; }
.separator-holder i.fa.green { color:#88cc6a; }
.separator-holder i.fa.blue { color:#289dcc; }
.separator-holder i.fa.red { color:#bf1e2e; }

/*	Main title withour hr	*/
.main-title.no-hr hr{ display: none; }




/* -------------------------------------------
	TIPSY PLUGIN
* -------------------------------------------- */
.tipsy { font-size: 10px; position: absolute; padding: 5px; z-index: 100000; }
.tipsy-inner { background:#444; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; border-radius: 2px;  }
.tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }
.tipsy-arrow-n, .tipsy-arrow-s,.tipsy-arrow-e, .tipsy-arrow-w { border-color:#444; }
.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
.tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }




/*-----------------------------------------------------------------------------------------*/
/*	PIE CHART		*/
/*-----------------------------------------------------------------------------------------*/
.col-sm-3 { text-align: center; }
.col-sm-3 span.chart {  position: relative;  }
.col-sm-3 span.percent { position: absolute; font-size: 45px; top:-52px; left: 50%; margin-top: -0.2em; margin-left: -0.55em; z-index: 2; }
.col-sm-3 h4 { font-size: 16px; font-weight: bold; }




/*-----------------------------------------------------------------------------------------*/
/*	CAROUSEL		*/
/*-----------------------------------------------------------------------------------------*/
.nice-carousel { margin-bottom: 40px !important; }
.nice-carousel > li{  border-bottom: 1px solid #dfdfdf;  float:left; padding-bottom: 10px; overflow:hidden; position:relative; width:220px; margin:0 20px 0 0; }
.nice-carousel > li:hover{ transition:opacity 0.5s; opacity: 1 !important; }
.nice-carousel li { text-align: center; }
.nice-carousel li img { margin:-20px auto 5px; width:100%; height: 200px; }
.nice-carousel li h5 { font-size: 14px !important; }
.no-js .nice-carousel img{ margin-bottom:0; }
.nice-carousel .carousel-item-title{ font-weight:400; font-size:13px; margin-bottom:0; }
.nice-carousel li .item-description{ display: none; background: #525252 url(../images/patterns/black_denim.png) repeat; width: 100%; color:#fff;   font-size:11px; position: absolute; height: 100%; left: 0; top:0; }
.nice-carousel li .item-description h4 { font-size: 16px; color:#fff; margin-top:10px; font-weight: bold; }
.nice-carousel li .item-description p { margin:10px 10px 20px 10px; font-size: 12px; }
.nice-carousel li .item-description i.fa { margin:0 5px 0 10px; }


			
	/* -> Nice Carousel navigation */
	.jcarousel-container{ max-width:100%; margin:0px -20px 0px 0; }
	.carousel-title{ margin-top:20px; font-weight:400; font-size:18px; }
	.jcarousel-clip{ overflow:hidden; width:100%; }
	.jcarousel-item{ width:220px; margin:0 20px 0 0; }
	.jcarousel-next,.jcarousel-prev{ height:5px; width:21px;  position:absolute; right:450px; top:247px; background-color:#6b6b6b; border-radius: 1px; cursor:pointer;  transition:background-color 0.4s; -webkit-transition:background-color 0.4s; -moz-transition:background-color 0.4s; }

	
	.jcarousel-prev{ background-position:0 -19px; right:473px; }
	.jcarousel-next-disabled,.jcarousel-next-disabled:hover,.jcarousel-next-disabled:focus,.jcarousel-next-disabled:active,.jcarousel-prev-disabled,.jcarousel-prev-disabled:hover,.jcarousel-prev-disabled:focus,.jcarousel-prev-disabled:active{ background-color:#d1d1d1 !important; cursor:auto!important; }


	/* Team Carousel */
	.nice-carousel.team-carousel li .item-description .member-name { font-weight: normal; font-size: 16px; }
	.nice-carousel.team-carousel li .item-description .team-title { font-size: 13px; font-style: italic; }
	.nice-carousel.team-carousel li .item-description.member-desc p { margin-bottom: 10px; }
	.nice-carousel.team-carousel li .item-description a { border-radius: 100%; }
	.nice-carousel.team-carousel li .item-description a i.fa { margin:5px; font-size: 19px; color: #fff; }


	/* Clients Carousel */
	.nice-carousel.clients-carousel li { border:none; background-color: red; }
	.nice-carousel.clients-carousel li img { height: auto; width: auto; margin-top: 15px; }
	





/*-----------------------------------------------------------------------------------------*/
/*	ABOUT US		*/
/*-----------------------------------------------------------------------------------------*/


/*	Promo text v2	*/
.top-promo-text-2 { text-align: center; padding-top: 40px; }
.top-promo-text-2 i.fa { font-size: 40px; margin-bottom: 6px; }
.top-promo-text-2 h1 {  line-height: 26px; margin:11px 0 17px 0; font-size: 20px; font-family: 'Rosario', sans-serif; }
.top-promo-text-2 h1.big-h { font-size: 50px; line-height: 47px; font-weight: bold; margin:11px 0 17px 0 !important; }
.top-promo-text-2 p {  }


/* Featured List */

ul.featured-list {  float: left; }
ul.featured-list li { float: left; margin-bottom: 20px; border-bottom: 1px dashed #dfdfdf; }
ul.featured-list li:last-child { border-bottom: none; }
ul.featured-list li h2 { font-size: 14px;  line-height: 21px; font-weight: bold; }
ul.featured-list li i.fa { float: left; font-size: 25px; }
ul.featured-list li .fcontent-holder {  margin-left: 55px; }


/*	Counting Numbers	*/
.cnum-holder { float: left; width: 100%; text-align: center; padding:10px; }
.cnum-holder span { font-weight: bold; font-size: 40px; }
.cnum-holder p { margin:7px 0 0 0; }





/*-----------------------------------------------------------------------------------------*/
/*	PRICING TABLE		*/
/*-----------------------------------------------------------------------------------------*/
.pricing-table { border-right: solid 1px #dddddd; border-top: solid 1px #dddddd; border-bottom: solid 1px #dddddd; margin-left: 0; margin-bottom: 20px; }
.pricing-table.first-table { border-left: solid 1px #dddddd; } 
.pricing-item { width: 235px; float: left; }
.pricing-table li { margin:0; }
.pricing-table a.btn-standard { font-size: 11px; }
.pricing-table * { list-style: none; line-height: 1; }
   
.pricing-table .header {
  background-image: -webkit-linear-gradient(bottom, #f9f9f9 0%, #FFFFFF 100%);
  background-image: -moz-linear-gradient(bottom, #f9f9f9 0%, #FFFFFF 100%);
  background-image: -ms-linear-gradient(bottom, #f9f9f9 0%, #FFFFFF 100%);
  background-image: linear-gradient(bottom, #f9f9f9 0%, #FFFFFF 100%);
  border-bottom: solid 1px #dddddd;
  height: 135px;
  padding: 14px 4px;
  text-align: center;
  color: #eeeeee;
  font-weight: normal;
  font-size: 15px;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important; }

.pricing-table .header p{ margin:0; }
.pricing-table .header p.plan-name { margin:22px 0 15px 0; font-size: 15px; color:#777; }
.pricing-table .header p.plan-price { margin:0 0 10px 0; font-size: 45px; color:#777; }
.pricing-table .header p.plan-per { font-size: 11px; color:#c0c0c0; }

.pricing-table .price {
  background-color: #f6f6f6;
  padding: 12px 4px;
  text-align: center;
  font-weight: normal;
  font-size: 25px;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important; }

.pricing-table .description {
    background-color: white;
    padding: 20px 4px;
    text-align: center;
    font-weight: normal;
    line-height: 1.4;
    border-bottom: dotted 1px #dddddd; }

.pricing-table .bullet-item {
    background-color: white;
    padding: 15px;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    border-bottom: dotted 1px #dddddd; }

.pricing-table .cta-button {
    background-image: -webkit-linear-gradient(bottom, #f9f9f9 0%, #FFFFFF 100%);
    background-image: -moz-linear-gradient(bottom, #f9f9f9 0%, #FFFFFF 100%);
    background-image: -ms-linear-gradient(bottom, #f9f9f9 0%, #FFFFFF 100%);
    background-image: linear-gradient(bottom, #f9f9f9 0%, #FFFFFF 100%);
    text-align: center;
    padding: 25px 0; }





/*-----------------------------------------------------------------------------------------*/
/*	SERVICES		*/
/*-----------------------------------------------------------------------------------------*/
.service-item { text-align: center; width: 100%; height: 170px; border:1px dotted #dddddd; border-radius: 2px; }
.service-item:hover { color: #fff; transition:0.5s; -webkit-transition:0.5s; -moz-transition:0.5s; }
.service-item:hover h3 { color: #fff; }
.service-item i.fa { font-size: 60px; margin-top: 35px; margin-bottom: 10px; }
.service-item h3 { font-size: 15px; font-weight: normal; }



/*-----------------------------------------------------------------------------------------*/
/*	NOTIFICATIONS	*/
/*-----------------------------------------------------------------------------------------*/
.notification{ margin:15px 0; width:100%; padding:10px 0; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; box-shadow:inset 0 0 3px #fff; -moz-box-shadow:inset 0 0 3px #fff; -webkit-box-shadow:inset 0 0 3px #fff; }
.notification p { padding:0; margin-left:40px; margin-right:45px; margin-bottom:0;  }
.notification i.fa{ float:left; margin-left:15px; font-size: 14px; margin-top: 2px; }
.notification.notice{ border-left:1px solid #e8e7e7; background-color:#fafafa; }
.notification.warning{ border-left:1px solid #f5dc7d; background-color:#fcf7d9; }
.notification.success{ border-left:1px solid #c2d288; background-color:#e3ebc6; }
.notification.error{ border-left:1px solid #f7c7c9; background-color:#f9e5e6; }
.notification.info{ border-left:1px solid #9ac9df; background-color:#d8ecf5; }
.notification.notice { color:#666 !important; }
.notification.warning { color:#c4a21b !important; }
.notification.success { color:#8fa442 !important; } 
.notification.error { color:#b3696c !important; }
.notification.info { color:#6f8da9 !important; }




/*-----------------------------------------------------------------------------------------*/
/*	SELECTINO COLOR	& SCROLLBAR STYLE	*/
/*-----------------------------------------------------------------------------------------*/
/* Selection */
::selection { color:#fff; }
::-moz-selection { color:#fff; }
::-webkit-selection { color:#fff; }

/* Scrollbar */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); }
::-webkit-scrollbar-thumb { -webkit-border-radius: 10px; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  }
::-webkit-scrollbar-thumb:window-inactive { background: rgba(255,0,0,0.4); }


/*-----------------------------------------------------------------------------------------*/
/*	PORTFOLIO  */
/*-----------------------------------------------------------------------------------------*/
	
/*  General columns setting */
.c4 li,.c3 li,.c2 li { float: left; text-align: center; margin: 0; }
.c4 li img,.c3 li img, .c2 li img { float:left; }
.c4, .c3, .c2 { float: left;  width:958px; }
	
/*  Filter  */
.port-group { margin-top:5px; margin-bottom:30px; float: left; width: 100%; text-align: center; }
.port-filter { margin:0 auto; }
.port-filter li { display: inline; }
.port-filter li i.fa { margin-right: 4px; }
.port-filter li.current a { color:#fff; }
.port-filter li a:hover { color:#fff; }
.port-filter a { padding: 5px 11px; border:1px solid #dddddd; margin:2px 1px; font-size:12px; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; }
	

	
/* Portofolio 4 Columns */
.c4  li { width: 235px; height: 220px; position: relative; }
.c4 li:nth-child(4n) { margin-right: 10; }
.c4 li img { width: 235px; height: 220px; float: left; margin:0; }
	

/* Portolio Hover */
.da-thumbs li ,
.da-thumbs li  img { display: block; position: relative; }
.da-thumbs li  { overflow: hidden; }
.da-thumbs li  article { cursor: pointer;  position: absolute; background-image:url(../images/image-hover.png); background-repeat:repeat; width: 100%; height: 100%; }
.da-thumbs li  article.da-animate { -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.da-thumbs li  a { color:#e3e3e3; display:block; }
.da-thumbs li  article.da-animate i.fa { font-size: 27px; margin-top: 100px; color: #edebeb; }
.da-thumbs li  article.da-animate h3 { color: #edebeb; font-family:'PT Sans Caption',sans-serif; font-weight: bold; font-size: 13px; margin-top:45px; }
.da-thumbs { text-align:center; }


/* Initial state classes */
.da-slideFromTop { left: 0px; top: -100%; }
.da-slideFromBottom { left: 0px; top: 100%; }
.da-slideFromLeft { top: 0px; left: -100%; }
.da-slideFromRight { top: 0px; left: 100%; }
.da-slideTop { top: 0px; }
.da-slideLeft { left: 0px; }




/*-----------------------------------------------------------------------------------------*/
/*	MAGNIFICENT POPUP	*/
/*-----------------------------------------------------------------------------------------*/

.mg-popup-data { visibility: hidden; }
.mg-popup { position: relative; background: #FFF; padding: 0px; width: 580px; height: auto; margin: 20px auto; text-align: center;
	background-image: -webkit-linear-gradient(top, #f0f0f0 0%, #FFFFFF 25px) !important;
	background-image: -moz-linear-gradient(top, #f0f0f0 0%, #FFFFFF 25px) !important;
	background-image: -ms-linear-gradient(top, #f0f0f0 0%, #FFFFFF 25px) !important;
	background-image: linear-gradient(top, #f0f0f0 0%, #FFFFFF 25px) !important;
}

.mg-popup .mg-title { width: 100%; padding:20px 0 17px 0;  }
.mg-popup .mg-title h2 { font-size: 21px; font-family: 'Rosario', sans-serif;  margin:0 35px; line-height: 21px; text-transform: uppercase;  }

.mg-popup .mg-image-holder  { width: 580px; background:#fff url(../images/loader-mg.gif) center no-repeat;  }
.mg-popup .mg-image-holder img { width: 100%; }

.mg-popup .mg-video-holder { margin-bottom: 40px; height: 350px; width: 580px; position: relative; display: block; background:#fff url(../images/loader-mg.gif) center no-repeat; }
.mg-popup .mg-video-holder iframe { position: absolute; width: 100%; height: 100%; top:0; left: 0;  }

.mg-popup .mg-description { text-align: justify !important; padding-bottom: 20px;  }
.mg-popup .mg-description p { margin:20px 35px; }

.mg-popup .mg-link-holder { padding: 0px 0 40px 0;
	background-image: -webkit-linear-gradient(bottom, #f0f0f0 0%, #FFFFFF 50px) !important;
	background-image: -moz-linear-gradient(bottom, #f0f0f0 0%, #FFFFFF 50px) !important;
	background-image: -ms-linear-gradient(bottom, #f0f0f0 0%, #FFFFFF 50px) !important;
	background-image: linear-gradient(bottom, #f0f0f0 0%, #FFFFFF 50px) !important;

}


/*	Animation classes	*/
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg { -webkit-backface-visibility: hidden; -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out;  -o-transition: all 0.3s ease-out;  transition: all 0.3s ease-out; }
.mfp-with-zoom.mfp-ready .mfp-container { opacity: 1; }
.mfp-with-zoom.mfp-ready.mfp-bg { opacity: 0.8; }
.mfp-with-zoom.mfp-removing .mfp-container, .mfp-with-zoom.mfp-removing.mfp-bg { opacity: 0; }




/*-----------------------------------------------------------------------------------------*/
/*	ANIMATED CLASSES	*/
/*-----------------------------------------------------------------------------------------*/
.element_from_top { top: -50px; padding-right: 0px; opacity: 0; position: relative; }
.element_from_bottom { bottom: -50px; padding-left: 0px; opacity: 0; position: relative; }
.element_from_left {
	left: -80px;
	padding-right: 0px;
	opacity: 0;
	position: relative;
	text-align: center;
}
.element_from_right { right: -80px; padding-left: 0px; opacity: 0; position: relative; }
.element_fade_in { opacity: 0; position: relative; padding-left: 0px; right: 0px; }




/*-----------------------------------------------------------------------------------------*/
/*	CONTACT MAP	*/
/*-----------------------------------------------------------------------------------------*/
#contact-map { position: relative !important; }
#map-canavas { height: 100%; width: 100%; position: relative; !important; }



/*-----------------------------------------------------------------------------------------*/
/*	CONTACT US  */
/*-----------------------------------------------------------------------------------------*/
.contact-title { border-bottom:none !important; }
#contact-map .contact-holder { width: 930px; height: 500px;   margin-left: auto; margin-right: auto; position: relative; }
#contact-map .contact-holder .contact-form-holder h2 { font-weight: bold; font-size: 14px; line-height: 21px; }
#contact-map .contact-holder .contact-form-holder { background-color: #fff; padding: 10px; border:1px solid #dfdfdf; min-height: 500px; width: 910px; position: absolute !important; top:0; left: 0; z-index: 99 !important; box-shadow: 0 0 4px #555; }
#contact-map .contact-holder .contact-form-holder .close-holder { margin-bottom: 20px; height: 24px; width: 100%; text-align: right; }
#contact-map .contact-holder .contact-form-holder .close-holder i { padding:4px; margin:0; font-size: 16px; }
#contact-map .contact-holder .contact-form-holder .contact-info { margin-bottom: 20px !important; margin-left: 30px; width: 400px; float: left; min-height: 20px; height: auto;  }
#contact-map .contact-holder .contact-form-holder .contact-info i.fa { float: left; margin-right: 10px; padding-top: 4px; }
#contact-map .contact-holder .contact-form-holder .contact-form { margin-bottom: 50px !important; margin-right: 30px; width: 430px; float: right; min-height: 20px; height: auto; }
#contact-map .contact-holder .contact-form-holder .contact-form input[type="text"] { font-size: 11px; color: #777; padding:6px 0 6px 6px; width:50%; margin:5px 0;  border:1px solid #cdcbcb; float:left; }
#contact-map .contact-holder .contact-form-holder .contact-form textarea { font-size: 11px; color: #777; border:1px solid #cdcbcb;  padding:6px; width:75%; height:120px; font-family:Helvetica;  margin:5px 0; float:left; }
#contact-map .contact-holder .contact-form-holder .contact-form .buttonHolder { width:100%; float:left; margin:10px 0 0 0; }
#contact-map .contact-holder .contact-form-holder .contact-form .buttonHolder input { float: left; }
#contact-map .contact-holder .errorHolder { float: left; width: 100%; }
#contact-messages-holder { float: left; }


#contact-map .contact-holder .contact-form-holder { 
background-image: -webkit-linear-gradient(bottom, #f0f0f0 0%, #FFFFFF 50px) !important;
background-image: -moz-linear-gradient(bottom, #f0f0f0 0%, #FFFFFF 50px) !important;
background-image: -ms-linear-gradient(bottom, #f0f0f0 0%, #FFFFFF 50px) !important;
background-image: linear-gradient(bottom, #f0f0f0 0%, #FFFFFF 50px) !important;
}





/*-----------------------------------------------------------------------------------------*/
/*	BLOG	*/
/*-----------------------------------------------------------------------------------------*/

.blog-article { float: left; border-bottom:1px dotted #dfdfdf; padding-bottom: 45px; max-width: 680px; width: 100%; }
.blog-article img, .blog-article iframe, .blog-hover-shadow { width: 680px; height: 300px; float: left; }
.blog-article .slides { width: 680px; height: 300px; }
.blog-article img:hover { opacity: 0.5; transition:opacity 0.4s; }

/*	Post Item Holder  */
.blog-article .post-item-holder { margin-bottom: 20px; float: left; }
.blog-article .post-link-holder { color:#898989; font-size: 12px; margin-bottom: 10px; word-wrap:break-word; }

/*	Post Audio Holder  */
.blog-article .post-audio-holder iframe { width: 100% !important; height: 120px !important; float: left !important; margin-bottom: 20px;  }

/*	Post Shadow  */
.blog-hover-shadow { background-color: black;   height: 100%; width: 100%;  }
.link-overlay { background-image: url(../images/link-overlay.png); background-repeat:  no-repeat; background-position:  center; }
.zoom-overlay { background-image: url(../images/zoom-overlay.png); background-repeat:  no-repeat; background-position:  center;  }
.video-overlay { background-image: url(../images/video-overlay.png); background-repeat:  no-repeat; background-position:  center;  }

/*	Post Gallery Navigation  */
ul.flex-direction-nav  li { margin-bottom:0 !important; }


/*	Post Quote Holder  */
.blog-article .post-quote-holder { float: left; background-color: #fcfcfc; padding: 20px; }
.blog-article .post-quote-holder a { display: block; color: #898989; font: italic 15px/1.6 'PT Serif', Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif; }
.blog-article .post-quote-holder a.quote-source { font-size: 13px; width: 100%; margin-top: 10px; }

/*	Post Data Content  */
.blog-article .post-content .post-data { float: left; margin-bottom: 0px; margin-top: 6px; width: 50px; border-right: 1px solid #efefef; border-right: 1px solid #efefef; }
.blog-article .post-content .post-data li { border-bottom: 1px solid #efefef; min-height: 50px; margin:0; }
.blog-article .post-content .post-data li .fa { font-size: 14px; margin-left: 20px; margin-top: 19px; }
.blog-article .post-content .post-data li a, .blog-article .post-content .post-data li i.fa { color: #898989;  }
.blog-article .post-content .post-data li p.post-data-comments { text-align: center; margin-bottom: 10px; font-size: 10px; }
.blog-article .post-content .post-data li:last-child { border-bottom: none; }

/*	Post Data Author Content  */
.blog-article .post-content .post-data-author { float: right; width: 600px; margin: 0; margin-bottom: 15px; }
.blog-article .post-content .post-data-author li { float: left; margin: 0 5px 0 0; font-style: italic;  }
.blog-article .post-content .post-data-author li.light { color: #9b9b9b; }
.blog-article .post-content .post-excerpt { width: 600px; float: right; }
.blog-article .post-content .post-excerpt h2 { font-size: 18px; line-height: 21px; margin-top:0; }
.blog-article .post-content .post-excerpt ul {  list-style-type: disc; list-style-position: inside; }
.blog-article .post-content .post-excerpt ol { list-style-type: decimal; list-style-position: inside; }


/*	Post Navigation	*/
.post-navigation { float: left; width: 680px; margin:20px 0 0 0; }
ul.p-navigation { float: left; margin: 0; }
ul.p-navigation li { float: left; padding:1px 7px; margin-left: 2px; margin-bottom: 0;  }
ul.p-navigation li.current a { color:#fff; padding:3px 7px; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; }




/*	Comments  */
	.comments-holder { float:left; width:100%; }	
	h2.comment-title { font-size: 14px; margin-bottom: 14px; text-transform: uppercase; border:none; line-height: 19px; }
	.comments-holder a:hover { color:#333; }
	.comments-holder p{ margin:0; }
	ol.comment-list { width:100%; margin:0; list-style-type:none;  }
	ol.comment-list li { width:100%; float:left; margin-bottom:4px; }
	ol.comment-list .comment { padding:5px 0; float:left; width:100%; border-bottom:1px dotted #dfdfdf; padding:20px 0; }
	ol.comment-list .comment .imgHolder { float:left; width:55px; height:55px; }
	ol.comment-list .comment img { width:55px; height:55px;  }
	ol.comment-list .comment-body { margin-left:90px; }
	ol.comment-list .comment-body .comment-meta { color:#888;  width:100%; margin-bottom:5px; }
	ol.comment-list .comment-body .comment-meta a:hover { color: #555; }
	ol.comment-list .comment-body .comment-meta  span{ margin-right:7px; }
	ol.comment-list ul.child { float:left; margin-left:80px; margin-bottom:0; font-size: 12px !important; }
	ol.comment-list ul.child li { width:100%; float:left; margin:0;  }
	ol.comment-list ul.child .comment .imgHolder { width:45px; height:45px; }
	ol.comment-list ul.child .comment img { width:45px; height:45px; }
	ol.comment-list ul.child .comment-body {  margin-left:80px; }
	
/* 	Reply Holder  */
	.reply-holder { float:left; width:100%; }
	.reply-holder input[type="text"] { font-size: 12px !important; color: #777; padding:6px 0 6px 6px; width:50%; margin:5px 0;  border:1px solid #cdcbcb; float:left; }
	.reply-holder textarea {  color: #777; border:1px solid #cdcbcb;  padding:6px; width:75%; height:200px; font-family:Helvetica;  margin:5px 0; float:left; }
	.reply-holder .buttonHolder { width:100%; float:left; margin:5px 0; }
	.reply-holder a{ float:left; }




/*	Sidebar	 */
aside.sidebar { margin-top:40px; }
.sidebar .widget { margin-bottom: 35px; float: left; width: 100%; }
.sidebar .widget p, .sidebar .widget ul { margin-bottom: 0; }
.sidebar .widget ul li { margin: 4px 0; }
h2.title-widget { font-size: 14px; margin-bottom: 14px; text-transform: uppercase; border:none; line-height: 19px; }

/*	Search Widget  */
.searcw { width:92%; padding:6px 2px 6px 6px; background-color: #fefdfd; color: #898989; font-size: 12px; border:1px solid #dfdfdf; float:left; margin:3px; border-radius: 2px; }

/*	Flickr Widget  */
.flickrImages { float: left; }
.flickrImages img{ width:67px; height:65px; float:left; margin:3px; }
.flickrImages img:hover { opacity: 0.8; transition:0.4s; }
	

/*	Twitter Widget  */
.tweet-list a:hover { color:#444; } 
.tweet-list li { margin-bottom: 10px !important; }




/*-----------------------------------------------------------------------------------------*/
/*	PROJECT SINGLE PAGE  */
/*-----------------------------------------------------------------------------------------*/
.p-basic-info {  height: auto; width: 100%; padding-top: 100px; border-bottom:1px dashed #dadada; text-align: center; background:#fff url(../images/patterns/groovepaper.png) repeat;   }
.p-basic-info i.big-fa { font-size: 40px;  }
.p-basic-info h2 { font-size: 30px; line-height: 36px; text-transform: uppercase; margin:20px 0; font-family: 'Rosario', sans-serif;  }
.p-basic-info p { margin:20px 0; }
.p-basic-info .btn-holder { margin:50px 0 80px 0; }
.p-item-holder { height: 370px; width: 100%; float: left; }
.p-item-holder img, .p-item-holder iframe, .p-item-holder object { width: 100%; height: 100%; float: left; }
.p-details { height: auto; width: 100%; text-align: center; float: left; }
.p-details ul.p-details-list { margin: 0; }
.p-details ul.p-details-list li { display: inline; padding:5px; }
.p-details ul.p-details-list li i.fa { font-size: 13px; margin-right: 3px; }
.p-details ul.p-details-list li span { font-weight: bold; margin-right: 2px; }
.social-share-holder { text-align: center; height: auto; padding:10px 0; width: 100%; float:left }
.social-sharer { margin: 0; } 
.social-sharer li{ display: inline; margin:2px; }
.social-sharer li a { font-size: 24px; }
.social-sharer li a.twitter i{ color: #26c4f1; }
.social-sharer li a.facebook i{ color: #306199; }
.social-sharer li a.googleplus i{ color: #e93f2e; }
.social-sharer li a.linkedin i{ color: #007bb6; }
.social-sharer li a.pinterest i{ color: #b81621; }
.social-sharer li a.stumbleupon i{ color: #ea4b24; }
.social-share-holder .share-button i{ padding:3px 7px; text-align: center; margin-right: 2px; }
.alignleft { float: left; }
